# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/additional_project_files.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/android_gradle_build.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/android_gradle_build_mini.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/build.ninja
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/build.ninja
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/build.ninja
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/build.ninja
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/build_file_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/reply/cache-v2-39d5584924808130dd72.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/reply/cache-v2-756cff2e92db85db4ed9.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/reply/cache-v2-7673926042c64b410b30.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/reply/cache-v2-ec1034a633ae11141346.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/cmake_install.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeCache.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CMakeCCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-414511a0fd52cc3e0c4a.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/reply/cmakeFiles-v1-a5185a4c22114c526c80.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-f5c09e2df80170a1070e.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-f129986fb6a178785699.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/3.22.1/CMakeSystem.cmake
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/reply/codemodel-v2-31914bd1d89b75ffc042.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/reply/codemodel-v2-ae72018b922fd55efa16.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-c13e4fa47cd9fde2480d.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-ea64c2db5e41dde4f505.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/configure_fingerprint.bin
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/reply/directory-.-RelWithDebInfo-f5ebdc15457944623624.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/hash_key.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/.cmake/api/v1/reply/index-2025-04-09T06-09-27-0487.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/.cmake/api/v1/reply/index-2025-04-09T06-09-28-0326.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/.cmake/api/v1/reply/index-2025-04-09T06-09-28-0733.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/.cmake/api/v1/reply/index-2025-04-09T06-09-29-0205.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/metadata_generation_command.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/prefab_config.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/prefab_config.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/prefab_config.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/prefab_config.json
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/rules.ninja
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/rules.ninja
/shorebird.yaml
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/symbol_folder_index.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/RelWithDebInfo/6a5f2333/x86_64/CMakeFiles/TargetDirectories.txt
